.pagination{
  margin:0;
  float:right;
}

#backButton{
  margin-right: 10px;
}

.help-block2{
	display:none;
	color: red;
}

.img-prev{
  cursor: pointer;
}

.viewRowButton{
  cursor: pointer;
}

.subtotal{
  text-align: right;
}
.price{
  text-align: right;
}
.total{
  text-align: right;
}
#total{
  text-align: right;
}
